[Unit]
Description=Registry GHCR.io
Requires=registry-ghcr.io.socket
After=registry-ghcr.io.socket

[Container]
Image=ghcr.io/distribution/distribution:edge
AutoUpdate=registry
ContainerName=registry-ghcr.io
Volume=registry-ghcr.io.volume:/var/lib/registry
Environment=REGISTRY_PROXY_REMOTEURL=https://ghcr.io

[Install]
WantedBy=default.target
