[Install]
WantedBy=default.target

[Container]
Image=docker.io/registry:2
ContainerName=registry-local
Volume=registry-local.volume:/var/lib/registry
PublishPort=5010:5000
