[Unit]
Description=Registry Registry.k8s.io
Requires=registry-registry.k8s.io.socket
After=registry-registry.k8s.io.socket

[Container]
Image=ghcr.io/distribution/distribution:edge
AutoUpdate=registry
ContainerName=registry-registry.k8s.io
Volume=registry-registry.k8s.io.volume:/var/lib/registry
Environment=REGISTRY_PROXY_REMOTEURL=https://registry.k8s.io

[Install]
WantedBy=default.target
