[Unit]
Description=Registry Local
Requires=registry-local.socket
After=registry-local.socket

[Container]
Image=ghcr.io/distribution/distribution:edge
AutoUpdate=registry
ContainerName=registry-local
Volume=registry-local.volume:/var/lib/registry
Network=none
PublishPort=5000

[Install]
WantedBy=default.target
