[Install]
WantedBy=default.target

[Unit]
Wants=network-online.target
After=network-online.target

[Container]
Image=docker.io/registry:2
AutoUpdate=local
ContainerName=registry-gcr.io
Volume=registry-gcr.io.volume:/var/lib/registry
Environment=REGISTRY_PROXY_REMOTEURL=https://gcr.io
PublishPort=5002:5000
