[Install]
WantedBy=default.target

[Unit]
After=network-online.target

[Container]
Image=docker.io/registry:2
AutoUpdate=local
ContainerName=registry-docker.io
Volume=registry-docker.io.volume:/var/lib/registry
Environment=REGISTRY_PROXY_REMOTEURL=https://registry-1.docker.io
PublishPort=5000:5000
