[profile {{ onepasswordRead "op://Private/Work AWS account info/profile" "2UXWR3ANYREZVNQQR6FV5XDL2Q" }}]
sso_session = {{ onepasswordRead "op://Private/Work AWS account info/profile" "2UXWR3ANYREZVNQQR6FV5XDL2Q" }} 
sso_start_url = {{ onepasswordRead "op://Private/Work AWS account info/sso_url" "2UXWR3ANYREZVNQQR6FV5XDL2Q" }} 
sso_region = us-east-1
sso_account_id = {{ onepasswordRead "op://Private/Work AWS account info/sso_account_id" "2UXWR3ANYREZVNQQR6FV5XDL2Q" }}
sso_role_name = {{ onepasswordRead "op://Private/Work AWS account info/sso_role_name" "2UXWR3ANYREZVNQQR6FV5XDL2Q" }}
region = us-east-1
